@media only screen and (max-width: 768px)
  section
    width: 500px
    height: 500px 
    nav
        width: 750px
        height: 100px
    .button
      position: absolute
      bottom: 50px
    .nav-pills
      visibility: hidden
  .section2
    display: flex
    flex-direction: column
    .article3
      flex-direction: column
  .section3
    .article5
      display: grid !important
      grid-template-columns: repeat(2, 1fr) !important
      grid-template-rows: repeat(3, 1fr)
      .object4 .click
         &:hover
          height: 200px !important
      .object5 .click2
         &:hover
          height: 200px !important
      .object6 .click2
         &:hover
          height: 200px !important
      .object7 .click2
         &:hover
          height: 200px !important
      .object8 .click2
         &:hover
          height: 200px !important
      .object9 .click2
         &:hover
          height: 200px !important
  .section4
    .article7
      display: flex
      flex-direction: column
      .object10
       .text9
        order: 1
        text-align: left
      .object11 
        padding-left: 0px
      .object12
        padding-left: 0px
        .text11
          order: 1
          text-align: left
      .object13
        padding-left: 0px
      .object14
        padding-left: 0px
        padding-right: 500px
  .section5
    .article8
      padding: 30px
    .article9
      flex-direction: column
      align-items: center
      gap: 30px
  .section6
    .article11
      display: grid
      grid-template-columns: repeat(2,1fr)
      grid-template-rows: repeat(2,1fr)
      gap: 0
      padding-left: 50px
  .section7
    .forms
      padding-right: 150px
    button
      margin-left: 150px !important
  .section8
    flex-direction: column
    gap: 30px
          


    
        
